.root {
    -fx-background-color: #F6FAB9;
    -fx-padding: 20px;
}

.label {
    -fx-text-fill: #2a0000;
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
}

.choice-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #CAE6B2;
    -fx-border-radius: 5px;
}

.button {
    -fx-background-color: #CAE6B2;
    -fx-text-fill: #2a0000;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #D2649A;
}

.grid-button {
    -fx-background-color: transparent;
    -fx-background-image: url('../assets/seat.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-text-fill: rgba(42, 0, 0, 0);
    -fx-min-width: 50px; /* Adjust size as needed */
    -fx-min-height: 50px; /* Adjust size as needed */
    -fx-max-width: 50px; /* Adjust size as needed */
    -fx-max-height: 50px; /* Adjust size as needed */
    -fx-padding: 5px; /* Adjust spacing between buttons */
}

.grid-button:hover {
    -fx-background-color: #D2649A;
}

.selected-button {
    -fx-background-color: #8E3E63;
}
